<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">ITR (Imposto sobre a propriedade territorial rural) </h5>          
        </div>
        <div class="card-body">
          <span>{{ iptr[0].contribuinte }}</span>         
                
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Parcela</th>
                <th scope="col">Referência</th>
                <th scope="col">Valor</th>
                <th scope="col">Valor Atualizado</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>            
                <tr *ngFor="let user of iptr">
                  <td>{{ user.parcela }}</td>
                  <td>{{ user.referencia }}</td>
                  <td>{{ user.valor | currency:'BRL'  }}</td>
                  <td>{{ user.valorAtualizado | currency:'BRL'  }}</td>
                  <td>{{ user.status }}</td>
              </tr>                           
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>