<div class="row">
    <div>
        <div class="card">
            <div class="card-body">
  
              <div class="card-body">
                <div class="d-md-flex align-items-center mb-4">
                    <div>
                        <h5 class="card-title text-uppercase font-16">Número de ocorrências de homicídios no ano {{ ano }}</h5>                      
                    </div>
                    <div class="ml-auto d-flex no-block align-items-center">                      
                    </div>
                </div>
                <div class="row">                   
                    <div class="col-lg-12">
                      <canvas id="myChartS" ></canvas>                   
                    </div>                   
                </div>
            </div>
            
            </div>
        </div>
    </div>
  </div>